body {
    margin: 0;
    font-family: Tahoma;
}

.secao1 {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

p {
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
    width: 980px;
    text-align: justify;
    font-size: 18px;
    line-height: 28px;
}

span {
    font-weight: bold;
}
/*------------------------------especificos-secao1----------------------------*/
.especifico-secao1 {
    background-color: #afddfb;
}

.logo {
    width: 150px;
}

.paragrafo-secao1 {
    margin-top: 15px;
    text-align: center;
    margin-bottom: 25px;
}

.links-secao1 {
    font-size:18px;
    color: #1d1d1d;
    border-bottom: 2px solid #1d1d1d;
    text-decoration: none;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 10px;
    margin-left: 10px;
}
/*------------------------------especificos-secao2----------------------------*/
.especifico-secao2 {
    margin-top: 50px;
    padding-top: 0;
}
/*------------------------------especificos-secao3----------------------------*/
h1 {
    color: #1d1d1d;
    margin-bottom: 5px;
}

.subtitulo-secao3 {
    color:#1c80c0;
    margin-top: 0;
    font-weight: normal;
}

.secao3 img, .secao5 img {
    width: 450px;
}

.texto-azul {
    color: #1d80c1;

}
/*------------------------------especificos-secao4----------------------------*/
.secao4, .secao6 {
    background-color: #1d80c1;
}

.subtitulo-secao4 {
    color: #ffffff;
    font-size: 28px;
    line-height: 42px;
}

.secao4 p {
    color: #ffffff;
    line-height: 42px;
    font-size: 22px;
    text-align: center;
    width: 700px;    
}

.texto-amarelo {
    color: #fff81b;
}

.secao4 ul {
    margin-top: 40px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 40px;
    width: 135px;
}

.secao4 li {
    color: #ffffff;
    line-height: 42px;
    text-align: left;
    font-size: 22px;

}
/*------------------------------especificos-secao5----------------------------*/
.subtitulo-secao5 {
    color:#1c80c0;
    margin-top: 0;
    font-size: 28px;
    line-height: 42px;  
}
/*------------------------------especificos-secao6----------------------------*/
.secao6 p {
    color: #ffffff;
    background-color: #1d1d1d;
    padding: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.secao6 ul {
    margin-top: 40px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 40px;
    width: 210px;
} 

.secao6 li {
    margin-top: 15px;
    text-align: center;
    font-size: 18px;
}
.secao6 a {
    background-color: #ffffff;
    color: #1d80c1;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 5px;
    padding-left: 5px;
    border-radius: 5px;
}